<div class="page-header">
  <%= link_to figurinhas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retornar
  <% end %>
  <h1>Adicionar figuinhas</h1>
</div>

<h4>Adicione todas suas figurinhas, inclusive as repetidas</h4>

<%= render 'form' %>
